anyio
argon2-cffi
argon2-cffi-bindings
arrow
attrs
backcall
beautifulsoup4
bleach
blinker
cachelib
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
dash
dash-ag-grid==2.0.0a1
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
dogpile.cache
executing
fastjsonschema
filelock
Flask
Flask-Login
Flask-OAuthlib
Flask-Principal
Flask-SQLAlchemy
Flask-WTF
fonttools
fqdn
greenlet
gunicorn
heroku
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
jsonpointer
jsonschema


kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pbr
pickleshare
Pillow
pipdeptree
platformdirs
plotly

polars
prometheus-client
prompt-toolkit
psutil
psycopg2
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz


PyYAML

qtconsole
QtPy
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
snscrape
soupsieve
SQLAlchemy
stack-data
stevedore
tenacity
terminado
threadpoolctl
tinycss2
tornado
tqdm
traitlets
tweepy
typing_extensions
tzdata
uri-template
urllib3
gunicorn
vincent
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
WTForms
